*, *::after, *::before {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color:#f3f3f3;
    height: 100%;
    margin: 0;
    padding: 0;
}
